<form class="well form-horizontal">
	<legend>Creazione nuovo accesso</legend>
	<div class="control-group">
		<label class="control-label" for="passi">Passi: </label>
		<div class="controls">
			<input 
				id="passi" 
				required="true"
				type="text" 
				placeholder="Inserisci il numero del passi"
				value="<%=passi%>" />
			<span class="help-inline"></span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="destinatario">Destinatario: </label>
		<div class="controls">
			<input 
				id="destinatario" 
				required="true"
				type="text" 
				placeholder="Inserisci il destinatario"
				value="<%=destinatario%>" />
			<span class="help-inline"></span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="autorizzatoDa">Autorizzato da: </label>
		<div class="controls">
			<input 
				id="autorizzatoDa" 
				required="true"
				type="text" 
				placeholder="Inserisci da chi è autorizzato"
				value="<%=autorizzatoDa%>" />
			<span class="help-inline"></span>
		</div>
	</div>
	<div class="control-group">
		<label class="control-label" for="note">Annotazioni: </label>
		<div class="controls">
			<textarea 
				id="note"
				rows="5"
				placeholder="Inserisci eventuali annotazioni"><%=note%></textarea>
			<span class="help-inline"></span>
		</div>
	</div>
	<div class="form-actions">
		<a id="cancel" class="btn">Annulla</a>
		<a id="save" class="btn btn-primary">Salva</a>
	</div>
</form>
