<%
var descr = nome + " " + cognome;
%>
<td><%=nome%></td>
<td><%=cognome%></td>
<td><%=ultimoAccesso%></td>
<td class="btn-column">
	<div class="btn-group">
		<!--
		<a id="remove" class="btn btn-mini btn-danger"><i class="icon-off icon-white"/></a>
		-->
		<a 
			id="newAccesso" 
			class="btn btn-mini" 
			rel="tooltip" 
			title="Premere qui per creare un nuovo accesso per il visitatore <%=descr%>."><i class="icon-random"/></a>
		<a 
			id="edit" 
			class="btn btn-mini"
			rel="tooltip" 
			title="Premere qui per modificare i dettagli del visitatore <%=descr%>."><i class="icon-pencil"/></a>
	</div>
</td>
