<div id="searchModal" class="modal hide fade">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
		<h3>Pannello di ricerca</h3>
	</div>
	<div class="modal-body">
		<form class="form-horizontal">
			<div class="control-group">
				<label class="control-label" for="cognomeVisitatore">Cognome: </label>
				<div class="controls">
					<input 
						id="cognomeVisitatore" 
						type="text" 
						placeholder="Scrivi parte del cognome per filtrare la lista"
						value="<%=collection.queryArguments.cognomeVisitatore%>" />
					<span class="help-inline"></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="nomeVisitatore">Nome: </label>
				<div class="controls">
					<input 
						id="nomeVisitatore" 
						type="text" 
						placeholder="Scrivi parte del nome per filtrare la lista"
						value="<%=collection.queryArguments.nomeVisitatore%>" />
					<span class="help-inline"></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="passi">Passi: </label>
				<div class="controls">
					<input 
						id="passi" 
						type="text" 
						placeholder="Scrivi parte del numero di passi"
						value="<%=collection.queryArguments.passi%>" />
					<span class="help-inline"></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="destinatario">Destinatario: </label>
				<div class="controls">
					<input 
						id="destinatario" 
						type="text" 
						placeholder="Scrivi parte del nome del destinatario"
						value="<%=collection.queryArguments.destinatario%>" />
					<span class="help-inline"></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="autorizzatoDa">Autorizzato da: </label>
				<div class="controls">
					<input 
						id="autorizzatoDa" 
						type="text" 
						placeholder="Scrivi parte del nome di chi ha autorizzato"
						value="<%=collection.queryArguments.autorizzatoDa%>" />
					<span class="help-inline"></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="idStato">Stato accesso: </label>
				<div class="controls">
					<select	id="idStato">
						<option value="">TUTTI</option>
					</select>
					<span class="help-inline"></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="idPostazione">Postazione: </label>
				<div class="controls">
					<select	id="idPostazione">
						<option value="">TUTTE</option>
					</select>
					<span class="help-inline"></span>
				</div>
			</div>
			<!--
			<div class="control-group">
				<label class="control-label" for="ingressoDa">Ingresso (da): </label>
				<div class="controls">
					<input 
						id="ingressoDa" 
						type="text" 
						placeholder="gg/mm/aaaa hh:mm:ss"
						value="<%=collection.queryArguments.ingressoDa%>" />
					<span class="help-inline"></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="ingressoA">Ingresso (a): </label>
				<div class="controls">
					<input 
						id="ingressoA" 
						type="text" 
						placeholder="gg/mm/aaaa hh:mm:ss"
						value="<%=collection.queryArguments.ingressoA%>" />
					<span class="help-inline"></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="uscitaDa">Uscita (da): </label>
				<div class="controls">
					<input 
						id="uscitaDa" 
						type="text" 
						placeholder="gg/mm/aaaa hh:mm:ss"
						value="<%=collection.queryArguments.uscitaDa%>" />
					<span class="help-inline"></span>
				</div>
			</div>
			<div class="control-group">
				<label class="control-label" for="uscitaA">Uscita (a): </label>
				<div class="controls">
					<input 
						id="uscitaA" 
						type="text" 
						placeholder="gg/mm/aaaa hh:mm:ss"
						value="<%=collection.queryArguments.uscitaA%>" />
					<span class="help-inline"></span>
				</div>
			</div>
			-->
		</form>
	</div>
	<div class="modal-footer">
		<a id="closeModal" class="btn">Chiudi</a>
		<a id="saveModalSelection" class="btn btn-primary">Applica</a>
	</div>
</div>	