<td><%=passi%></td>
<td><%=cognomeVisitatore%></td>
<td><%=nomeVisitatore%></td>
<td><%=destinatario%></td>
<td><%=ingresso%></td>
<td><%=uscita%></td>
<td class="btn-column">
	<div class="btn-group">
		<a id="detail" 
			class="btn btn-mini" 
			rel="tooltip" 
			title="Premere qui per visualizzare il dettaglio dell'accesso n. <%=id%>."><i class="icon-file"/></a>
		<a id="report" 
			class="btn btn-mini"
			rel="tooltip" 
			title="Premere qui per stampare il passi per l'accesso n. <%=id%>."><i class="icon-print"/></a>
<%
var disabled = idStato !== 1 ? "disabled" : "";
%>
		<a id="close" 
			class="btn btn-mini <%=disabled%>"
			rel="tooltip"
			title="Premere qui per modificare lo stato dell'accesso n. <%=id%> a chiuso."><i class="icon-arrow-left"/></a>
		<a id="cancel" 
			class="btn btn-mini <%=disabled%>"
			rel="tooltip"
			title="Premere qui per modificare lo stato dell'accesso n. <%=id%> ad annullato."><i class="icon-trash"/></a>
	</div>
</td>
