<td><%=nomeVisitatore%></td>
<td><%=cognomeVisitatore%></td>
<td><%=destinatario%></td>
<td><%=ingresso%></td>
<td><%=uscita%></td>
<td class="btn-column">
	<div class="btn-group">
		<a id="detail" class="btn btn-mini"><i class="icon-file"/></a>
		<a id="report" class="btn btn-mini"><i class="icon-print"/></a>
		<a id="reportTest" class="btn btn-mini"><i class="icon-print"/></a>
<%
var disabled = idStato !== 1 ? "disabled" : "";
%>
		<a id="close" class="btn btn-mini btn-success <%=disabled%>"><i class="icon-ok icon-white"/></a>
		<a id="cancel" class="btn btn-mini btn-danger <%=disabled%>"><i class="icon-off icon-white"/></a>
	</div>
</td>
